NODE_ENV=development
HOST=0.0.0.0
PORT=3000

#Required
LINKEDIN_COOKIE=
LINKEDIN_CSRF_TOKEN=

# Optional
LINKEDIN_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/151.0.0.0 Safari/537.36"
LINKEDIN_APP_VERSION=0.2.7003
# LINKEDIN_SDUI_VERSION=0.1.50904
LINKEDIN_APPLICATION_INSTANCE=
LINKEDIN_PAGE_INSTANCE=
LINKEDIN_PAGE_INSTANCE_TRACKING_ID=
LINKEDIN_PAGE_FOREST_ID=

LINKEDIN_ANCHOR_PAGE_KEY=d_flagship3_profile_view_base
LINKEDIN_TIMEZONE=Asia/Calcutta
LINKEDIN_TIMEZONE_OFFSET=5.5
LINKEDIN_DEVICE_FORM_FACTOR=DESKTOP
LINKEDIN_DISPLAY_DENSITY=1.25
LINKEDIN_DISPLAY_WIDTH=1920
LINKEDIN_DISPLAY_HEIGHT=1080

REQUEST_TIMEOUT_MS=20000
RATE_LIMIT_MAX=30
RATE_LIMIT_WINDOW_MS=60000
